header
    section#menu
        .navbar2.sticky-header.fixed.clearfix
            <a class="logo" href="/renew/index.html"><img src="../img/logo-blue.png" alt=""></a>
            ul.header-list
                include _list-link.pug
            
            //- <!--mobi button-->
            a.header-entry(href="/renew/recruit/entry.html")
                i.fa.fa-sign-in
                span ENTRY
        .js-after-fixed

    section.banner
        <img src="../img/top-main-bg.png" alt="" class="show-sp w1">
        <img src="../img/top-main-bg-pc.png" alt="" class="show-pc w1">
        .box-name
            <h2>Synergy to the Future</h2>

            <p>何事にも捉われない<br> あなたの自由を創造し<br> あなたの可能性を発揮するステージが<br> 今、ここにあります。</p>
        
        a.scrolldown.go-to(href="#about-department")
            <span>SCROLL</span> <br>
            <img src="../img/i-arrow-down.png" alt="">