extend ../layouts/_layout1.pug
block variables 
    - var title ='home'
    //- - var mode ='dev'
    - var mode =''
block content
    #content

        section.banner
            .banner-top
                img(src="img/info1-sp.png", alt="info1")
                p 葵屋株式会社は株式会社エイブルパーキングの<br class="show-sp">アライアンスパートナーです
            .banner--bg
                .container
                    .banner--intro
                        img(src="img/banner-logo-sp.png", alt="logo")
                        .banner--intro--text
                            |駐車場経営なら<br class="show-sp">葵屋にお任せ下さい<br>あなたにもできる<br class="show-sp">堅実の駐車場投資！
                    .banner--benefit
                        .banner--benefit--item
                            .step.dp-top-left
                                span メリット
                                span.num 01
                            .banner--benefit--item--txt
                                h3 タイトルが入ります
                                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキ

                        .banner--benefit--item
                            .step.dp-top-left
                                span メリット
                                span.num 02
                            .banner--benefit--item--txt
                                h3 タイトルが入ります
                                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキ

                        .banner--benefit--item
                            .step.dp-top-left
                                span メリット
                                span.num 03
                            .banner--benefit--item--txt
                                h3 タイトルが入ります
                                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキ


                    a.readmore(href="") 
                        span.icon
                        span.txt
                            |メールでのお問い合わせ・
                            |資料請求はこちら           

        section.concern#concern
            .concern--bg
                .container
                    h2.title 土地活用でこんなお悩みはありませんか？
                    .concern--list
                        label 
                            input(type="checkbox" checked)
                            span.checkbox
                            |日々の管理が煩わしい
                        label
                            input(type="checkbox")
                            span.checkbox
                            |初期費用が高い
                        label
                            input(type="checkbox")
                            span.checkbox
                            |大きな土地を持っていない
                        label
                            input(type="checkbox")
                            span.checkbox
                            |安定した収入が得られるか不安
                    .concern--sign
                        .concern--sign--circle    
                            span.sign-top 
                                |１つでも当てはまる <br/>
                                |ものがあれば
                            span.sign-bottom
                                |有効活用の <br/>
                                |チャンスです！
            .container
                a.readmore(href="") 
                    span.icon
                    span.txt
                        |メールでのお問い合わせ・
                        |資料請求はこちら

        section.security#security
            .container
                h2.title 安心と信頼の３つの特徴
                .row
                    .column
                        img.show-sp(src="img/secur1-sp.png", alt="security")
                        img.show-pc(src="img/secur1-pc.png", alt="security")
                        .column--content
                            h3.column--title
                                |同一担当者が相談から契約 <br/>
                                |までワンストップサポート
                            p.column--txt
                                |テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    .column
                        img.show-sp(src="img/secur2-sp.png", alt="security")
                        img.show-pc(src="img/secur2-pc.png", alt="security")
                        .column--content
                            h3.column--title
                                |一括借上げで<br/>
                                |安定した収入を実現
                            p.column--txt
                                |テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    .column
                        img.show-sp(src="img/secur3-sp.png", alt="security")
                        img.show-pc(src="img/secur3-pc.png", alt="security")
                        .column--content
                            h3.column--title
                                |一元的ではない<br/>
                                |恒久的な土地活用支援
                            p.column--txt
                                |テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                a.readmore(href="") 
                    span.icon
                    span.txt
                        |メールでのお問い合わせ・
                        |資料請求はこちら

        section.research#research
            .container
                h2.title 導入事例
                .case-container
                    -
                        var arr = [
                            {
                                title: '月極駐車場とコインパーキングの併用',
                                before: 'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト',
                                after:'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト'
                            },
                            {
                                title: '更地からコインパーキングの経営',
                                before: 'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト',
                                after:'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト'
                            },
                            {
                                title: '月極駐車場とコインパーキングの併用',
                                before: 'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト',
                                after:'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト'
                            },
                            {
                                title: '更地からコインパーキングの経営',
                                before: 'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト',
                                after:'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト'
                            },
                            {
                                title: '月極駐車場とコインパーキングの併用',
                                before: 'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト',
                                after:'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト'
                            },
                            {
                                title: '更地からコインパーキングの経営',
                                before: 'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト',
                                after:'テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト'
                            },
                        ];
                    -
                    - for (var i = 0; i < 6; ++i) {
                        .research--case
                            h3.research--case--title 
                                span.num CASE.0#{i+1}
                                span.txt #{arr[i].title}
                            .slider-case.owl-carousel
                                .research--case--before
                                    img(src="img/case1bf.png", alt="case1")
                                    .case-content
                                        .badget Before
                                        p #{arr[i].before}
                                .research--case--after
                                    img(src="img/case1af.png", alt="case1")
                                    .case-content
                                        .badget After
                                        p #{arr[i].after}
                    - }                    
                a.readmore(href="") 
                    span.icon
                    span.txt
                        |メールでのお問い合わせ・
                        |資料請求はこちら            

        section.procedure#procedure
            .container
                h2.title 開始までの流れ
                .procedure--container
                    .procedure--item
                        img(src="img/i-proced1.png", alt="procedure")
                        .procedure--item--content
                            h3.procedure--title 受付
                            p テキストテキストテキストテキストテキストテキストテキストテキストテキテキストテキストテキストテキストテキストテキストテキストテキストテキ
                    .procedure--item
                        img(src="img/i-proced2.png", alt="procedure")
                        .procedure--item--content
                            h3.procedure--title 調査<br class="show-sp"/><span class="show-pc">・</span>訪問
                            p テキストテキストテキストテキストテキストテキストテキストテキストテキテキストテキストテキストテキストテキストテキストテキストテキストテキ
                    .procedure--item
                        img(src="img/i-proced3.png", alt="procedure")
                        .procedure--item--content
                            h3.procedure--title 契約
                            p テキストテキストテキストテキストテキストテキストテキストテキストテキテキストテキストテキストテキストテキストテキストテキストテキストテキ
                    .procedure--item
                        img(src="img/i-proced4.png", alt="procedure")
                        .procedure--item--content
                            h3.procedure--title 着工<br class="show-sp"/><span class="show-pc">・</span>完成
                            p テキストテキストテキストテキストテキストテキストテキストテキストテキテキストテキストテキストテキストテキストテキストテキストテキストテキ
                    .procedure--item
                        img(src="img/i-proced5.png", alt="procedure")
                        .procedure--item--content
                            h3.procedure--title 運営<br class="show-sp"/><span class="show-pc">・</span>管理
                            p テキストテキストテキストテキストテキストテキストテキストテキストテキテキストテキストテキストテキストテキストテキストテキストテキストテキ
                p.procedure--note エイブルパーキングと葵屋が<br class="show"/>オーナー様のお悩みに<br class="show-sp"/>即時に対応、解決致します！
                a.readmore(href="") 
                    span.icon
                    span.txt
                        |メールでのお問い合わせ・
                        |資料請求はこちら    

        section.question#question
            .container
                h2.title よくある質問
                ul.quest-list.collapse-container
                    li.quest-item.collapse.collapse-show
                        h3.quest-title 
                            img(src="img/i-quest.png", alt="question")
                            span テキストテキストテキストテキストテキスト
                        p.quest-answer.collapse-item テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ
                    li.quest-item.collapse
                        h3.quest-title 
                            img(src="img/i-quest.png", alt="question")
                            span テキストテキストテキストテキストテキスト
                        p.quest-answer.collapse-item テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ
                    li.quest-item.collapse
                        h3.quest-title 
                            img(src="img/i-quest.png", alt="question")
                            span テキストテキストテキストテキストテキスト
                        p.quest-answer.collapse-item テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ
                    li.quest-item.collapse
                        h3.quest-title 
                            img(src="img/i-quest.png", alt="question")
                            span テキストテキストテキストテキストテキスト
                        p.quest-answer.collapse-item テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ
                    li.quest-item.collapse
                        h3.quest-title 
                            img(src="img/i-quest.png", alt="question")
                            span テキストテキストテキストテキストテキスト
                        p.quest-answer.collapse-item テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキ
                a.readmore(href="") 
                    span.icon
                    span.txt
                        |メールでのお問い合わせ・
                        |資料請求はこちら  

        section.contact#contact
            .container
                h2.title お問い合わせ

                .form-container
                    p.contact-desc テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

                    .flr.form-require ※は入力必須項目です
                    .clb

                    //- <!-- ajax form url in custom.js-->
                    form.contact--form#contact--form(action="" method="POST")
                        table.contact-table
                            tr
                                td: span 会社名
                                td: input#copany(type="text" name="company")   
                            tr
                                td: span お名前 <span class="flr">※</span>
                                td: input#name(type="text" name="name")            
                            tr
                                td: span 郵便番号
                                td.td-zipcode
                                    input#zipcode(type="tel" name="zipcode")
                                    button.get-zipcode(type="button") 郵便番号で住所検索
                            tr
                                td: span ご住所
                                td: textarea#address(name="address" rows="3")
                            tr
                                td: span 電話番号<span class="flr">※</span>
                                td: input#phone(type="tel" name="phone")
                            tr
                                td: span FAX番号
                                td: input#fax(type="tel" name="fax")
                            tr
                                td: span メールアドレス<span class="flr">※</span>
                                td: input#email(type="email" name="email")
                            tr
                                td: span メールアドレス<br class="show-pc"/>（確認用)<span class="flr">※</span>
                                td: input#re_email(type="email" name="re_email")
                            tr
                                td: span お問い合わせ内容<span class="flr">※</span>
                                td: textarea#question(name="question" cols="30" rows="5")
                            tr
                                td.td-submit(colspan=2)
                                    p.before-submit
                                        |入力内容をご確認の上、<br class="show-sp"/>宜しければ送信ボタンを押してください。
                                    button.contact-submit#contact-submit(type="submit") 
                                        img(src="img/i-send.png", alt="isend")
                                        |送信<i class="fa fa-spin"></i>

